.hand-pointer {
  cursor: pointer;
}

/* fade hr color */

hr {
  border: 0;
  height: 0.5px;
  background: #ccc;
}

.mantine-InputWrapper-label {
  font-size: 0.6rem;
  margin-left: 0.5rem;
  font-weight: 700;
  color: rgb(131, 129, 129);
}
