.hand-pointer {
  cursor: pointer;
}

/* fade hr color */

hr {
  border: 0;
  height: 0.5px;
  background: #ccc;
}

.mantine-InputWrapper-label {
  font-size: 0.6rem;
  margin-left: 0.5rem;
  font-weight: 700;
  color: rgb(131, 129, 129);
}

select {
  border: none;
  /* outline: none; */
  scroll-behavior: smooth;
}

.rotate {
  animation: roll 3s infinite;
  transform: rotate(30deg);
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
